@charset "UTF-8";

// 參考! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize

// Use a better box model (opinionated).

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    // Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
    // font-family:
    //     system-ui,
    //     'Segoe UI',
    //     Roboto,
    //     Helvetica,
    //     Arial,
    //     sans-serif,
    //     'Apple Color Emoji',
    //     'Segoe UI Emoji';
    font-family: $font-family-base;

    line-height: $line-height-base; //* 1. Correct the line height in all browsers.
    -webkit-text-size-adjust: 100%; //* 2. Prevent adjustments of font size after orientation changes in iOS.
    tab-size: 4;  //* 3. Use a more readable tab size (opinionated).
}

body {
    margin: 0 auto; // Remove the margin in all browsers.

    @if $body-bg { background: $body-bg; }
    color: $body-color; // var(--color);
    @if $body-letter-spacing { letter-spacing: $body-letter-spacing; }
}


// Add the correct font weight in Edge and Safari.

b,
strong {
    font-weight: bolder;
}


// 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
// 2. Correct the odd 'em' font sizing in all browsers.

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace; //* 1
    font-size: 1em; //* 2
}


// Add the correct font size in all browsers.

small {
    font-size: 80%;
}


// Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


// 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
// 2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
// 3. Remove gaps between table borders by default.

table {
    text-indent: 0; //* 1
    border-color: inherit; //* 2
    border-collapse: collapse; //* 3
}


// 1. Inherit the font styles in all browsers.
// 2. Remove the default background color.
// 3. Remove the margin in Firefox and Safari.

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; //* 1
    font-size: 100%; //* 1
    line-height: $line-height-base;
    color: inherit; //* 1
    background: transparent; //* 2
    margin: 0; //* 3
}


// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Remove default button styles.

button,
input:where([type='button'], [type='reset'], [type='submit']) {
    -webkit-appearance: button; //* 1
    background-color: transparent; //* 2
    background-image: none; //* 2
}


// Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.

legend {
    padding: 0;
}


// Add the correct vertical alignment in Chrome and Firefox.

progress {
    vertical-align: baseline;
}


// Correct the cursor style of increment and decrement buttons in Safari.

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}


// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type='search'] {
    -webkit-appearance: textfield; //* 1
    outline-offset: -2px; //* 2
}


// Remove the inner padding in Chrome and Safari on macOS.

::-webkit-search-decoration {
    -webkit-appearance: none;
}


// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    -webkit-appearance: button; //* 1
    font: inherit; //* 2
}


// Add the correct display in Chrome and Safari.

summary {
    display: list-item;
}



// == custom
// -----------------------------------------------------------------

// Prevent resizing textareas horizontally by default.

textarea {
    resize: vertical;
}


// 1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
// 2. Set the default placeholder color to a semi-transparent version of the current text color.

::placeholder {
    opacity: 1; //* 1
    color: color-mix(in srgb, currentColor 50%, transparent); //* 2
}


:disabled {
    cursor: default;
}


// Make elements with the HTML hidden attribute stay hidden by default.

[hidden] {
    display: none !important;
}


// Work around a Firefox/IE bug where the transparent `button` background results in a loss of the default `button` focus styles.//
// Credit: https://github.com/suitcss/base/

button,
[role="button"] {
    cursor: pointer;

    // custom
    border: 0;

    &:focus {
        @if $button-focus {
            outline: $button-focus;
        }
        @else {
            outline: 1px dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }
    }
}


// Correct the font size and margin on `h1` elements within `section` and  `article` contexts in Chrome, Firefox, and Safari.

h1 {
    font-size: $font-size-h1;
    margin: $h1-margin;
}


// 1. Add the correct height in Firefox.
// 2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
// 3. Ensure horizontal rules are visible by default.

hr {
    height: 0; // 1
    color: inherit; // 2

    border: 0 var(--border-color, #{$hr-border-color});
    border-top-width: var(--border-width, #{$hr-border-width}); //var(--hr-border, #{$hr-border}); // 3
    margin: $hr-margin;
}


// Add the correct text decoration in Chrome, Edge, and Safari.

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}


// 1. Reset links to optimize for opt-in styling instead of opt-out.

a {
    color: var(--color, #{$link-color}); // 1
    -webkit-text-decoration: $link-decoration; // 1
    text-decoration: $link-decoration; // 1

    @if $link-transition { transition: $link-transition; }

    &:hover {
        @if $link-hover-color      { --color: #{$link-hover-color}; }
        @if $link-hover-decoration { text-decoration: $link-hover-decoration; }
    }

    // #無障礙用
    // $link-focus: false !default;
    // =>
    // $link-focus: (
    //     'outline-offset':  1px,
    //     'outline':         3px solid dark(color(warning), 40)
    // );

    &:focus {
        @each $key, $value in get('focus.link') {
            #{$key}: $value;
        }
    }

    &:not([href]):not([tabindex]) {
        &, &:hover, &:focus {
            --color: inherit;

            @if ($link-decoration != none) {
                text-decoration: none;
            }
        }

        &:focus {
            outline: 0;
        }
    }
}