@charset "UTF-8";

// common
table {
    border-spacing: 0;
    width: 100%;

    @if $table-bg    { background-color: $table-bg; }
    @if $table-color { color: $table-color; }
}

// 固定欄寬度
.table-fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

th,
td,
thead, tbody:not(:last-child) {
    border: $table-border-style var(--border-color, #{$table-border-color});
    border-width: var(--cell-bordered);
}

th,
td {
    --cell-bordered: #{$cell-bordered};

    text-align: if($cell-text-align, $cell-text-align, null);
    vertical-align: if($cell-vertical-align, $cell-vertical-align, null);
    padding: $cell-padding;

    thead & {
        // --cell-bordered: 0;
    }
}

thead, tbody:not(:last-child) {
    --cell-bordered: 0 0 2px;
}


// # plugin
// 四邊框線
.table-bordered {
    border: var(--border-width, #{$border-width}) $table-border-style var(--border-color, #{$table-border-color});

    th, td {
        --cell-bordered: #{$border-width};
        // border-width: var(--border-width, $border-width);
    }
}

// 斑馬紋條 (必須在變色上面)
@if $table-striped-color {
    .table-striped {
        :not(thead) > tr,
        &-tbody tbody {
            &:nth-child(#{$table-striped-list}) {
                background-color: $table-striped-color;
            }
        }
    }
}

// 滑鼠移過變色
@if $table-hover-color {
    .table-hover {
        tr, th, td {
            transition: $transition-duration;
        }

        tbody {
            &:hover > tr > [rowspan] {
                @include static(hoverbg) {
                    background-color: $table-hover-color;
                }
            }

            > tr:not(.nohover):hover {
                @include static(hoverbg);

                th, td {
                    background-color: transparent !important;
                }
            }
        }
    }
    // .tbody-hover {
    //     tbody {
    //         &:hover > tr > [rowspan] {
    //             @extend %table-hover;
    //         }

    //         > tr:hover {
    //             @extend %table-hover;

    //             th, td {
    //                 @extend %table-hover-reset;
    //             }
    //         }
    //     }
    // }
}
