@charset "UTF-8";

// == common classes
// -------------------------------------------------------------------------------

// 浮動相關(對齊)
.clearfix            { @include clearfix; }              // 清除浮動: 後面元素不會跟著浮動+母元素會被撐開
.pull-left           { float: left; }                    // 靠左浮動
.pull-right          { float: right; }                   // 靠右浮動
.clear               { clear: both; }                    // 清除浮動: 讓後面的元素不會跟著浮動

// 元素類型
.inline              { display: inline; }                // 行列元素: 不能設寬度
.inline-block        { display: inline-block; }          // 區塊元素: 寬度隨內容變
.block               { display: block; }                 // 區塊元素: 寬度預設100%

.rounded             { border-radius: $border-radius; }  // 圓角
.rounded-full        { border-radius: 50%; }             // 圓形
.hidden              { display: none; }                  // 隱藏元素

// # width
.w-full              { width: 100%; }
.max-w-full          { max-width: 100%; }
.min-w-full          { min-width: 100%; }
.w-auto              { width: auto; }

// 圖片置中
.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.cursor-not-allowed  { cursor: not-allowed; } // 禁用符號
.cursor-pointer      { cursor: pointer; }
.cursor-help         { cursor: help; }
.overflow-hidden     { overflow: hidden; }
.transition          { transition: $transition-duration; }


// == text
// -------------------------------------------------------------------------------

.font {
    @each $property, $size in get('font') {
        &-#{$property} {
            font-size: if(type-of($size) == number, rem($size), $size);
        }
    }

    // => .font-bold { font-weight: 700; }
    @include modifiers(get('utils.weight'), 'font-weight');
}

// 斜體
.italic {
    font-style: italic;
}
.not-italic {
    font-style: normal;
}

// => .leading-normal { line-height: 1.5; }
.leading {
    @include modifiers(get('utils.leading'), 'line-height');
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}


// == default color
// -------------------------------------------------------------------------------
%text-white {
    color: #fff;
}
%bg-white {
    background-color: #fff;
}

.text-white {
    @extend %text-white;
}

.bg-white {
    @extend %bg-white;
}


// == alignment
// -------------------------------------------------------------------------------
// # 水平 => .text-left, .text-right, .text-center
.text {
    @include modifiers(get('utils.align'), 'text-align');
}

// # 垂直 vertical align
// 可以使用的元素：inline, inline-block, inline-table, and table cell elements.
.align {
    @include modifiers(get('utils.vertical'), 'vertical-align');
}


// == list
// ------------------------------------------------------------
%list-unstyled {
    list-style: none;
    padding-left: 0;
}

%list-inline {
    > li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.list-unstyled { @extend %list-unstyled; }

.list-inline   { @extend %list-unstyled, %list-inline; }


// == border
// ------------------------------------------------------------
.border {
    border-width: var(--border-width, 1px);
    // 下次用這個試 border: var(--border-width, 1px) var(--border-solid, solid) var(--border-color);

    // => border-0
    @include modifiers(
        (
            0:  0,
            2:  2px,
            4:  4px
        ),
        'border-width'
    );

    // => border-current
    // @include modifiers(
    //     (
    //         inherit:     inherit,
    //         current:     currentColor,
    //         transparent: transparent,
    //     ),
    //     'border-color'
    // );

    // => border-solid
    @include modifiers(
        (
            solid:       solid,
            // hidden:      hidden,
            // none:        none,
        ),
        'border-style'
    );
}

