@charset "UTF-8";

$index:                 true;


// == import
// ------------------------------------------------------------
@import "function"; // (置頂)

@import "_client/setting"; // 覆寫下方的變數值

@import "variables";
@import "mixins";

// output
@import "base";
@import "utils";


// == output
// ------------------------------------------------------------

// # comm util

.btn {
    // default
    @include btn(false) {
        background: #9E9E9E;
        opacity: .65;
    }

    color: #fff;
    font-size: em(23);
    font-weight: bold;
    letter-spacing: 0.3em;

    background: color();
    padding: 15px 5px;
    transition: 0.2s;

    &:hover {
        background: linear-gradient(45deg, rgba(color(),.9), rgba(color(secondary),.9), rgba(color(warning),.5));
        background-size: 600%;
        box-shadow: 0 0 8px rgba(#000, 0.3);

        @include animate(animegrade 10s ease infinite) {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
}


// ## layout
html, body {
    height: 100%;
}

body {
    $bg1-postion: center bottom -500px;

    background: url('#{$img-path}/bg.png') no-repeat $bg1-postion, linear-gradient(78deg, #fff1eb, #ace0f9, #BDF2EA);
    background-size: cover, 200% 200%;

    // 高度置中 小螢幕fix
    @include mq($and: '(max-height: #{em(479)}), (max-resolution: 96dpi)') {
        min-height: 500px;
        padding-top: 50px;
    }

    @include animate(gradient 18s ease infinite) {
        0% {
            background-position: $bg1-postion, 0% 50%;
        }
        50% {
            background-position: $bg1-postion, 100% 50%;
        }
        100% {
            background-position: $bg1-postion, 0% 50%;
        }
    }
}

// # header
.header {
    margin-top: 10px;
}

.title {
    font-size: em(70);
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-shadow: 0 0 12px rgba(#fff, 0.5), 0 0 6px rgba(color(secondary), 0.2);

    margin-top: 0;
    margin-bottom: 48px;
}

.logo {
    background: url('#{$img-path}/logo.png') no-repeat 0 center / 40px auto;
    margin-bottom: 5px;
    padding: 10px 0 5px 45px;

    font-size: em(18);
    letter-spacing: em(1.4);
}

.logo-subhead {
    color: light(color(), 50);
    font-size: 10px;
    letter-spacing: 0;

    display: block;
}

.copyright {
    color: light(color(), 10);
    font-size: em(14);

    margin-left: 43px;
}

// # login
.login {
    margin-inline: $gutter;

    @include mq($max-width + 48) {
        margin-inline: auto;
        width: $max-width;
    }

    // 高度置中 小螢幕fix
    @include mq($and: '(min-height: #{em(480)}), (min-resolution: 97dpi)') {
        @include center;
    }
}

.login_form {
    border-left: 1px solid rgba(#fff, 0.5);
    margin-left: 48px;
    padding: 10px 0 20px 48px;
}

.headline {
    text-align: center;
    font-size: em(48);
    letter-spacing: em(2);
}

.inner-icon {
    $size: 34px;

    position: relative;

    &::before {
        @extend .text-center;

        color: color(muted);

        position: absolute !important;
        top: 50% !important;
        left: 0;
        transform: translateY(-50%);
        width: $size;

        z-index: 3;
    }

    .input {
        padding-left: $size;
    }
}

.input {
    --border-color: #fff;

    background-color: rgba(#fff, .7);
    backdrop-filter: blur(7px);
    border: 1px solid var(--border-color);
    padding: 9px 5px;
    transition: .2s;

    color: color();
    font-size: em(18);

    &:hover, &:focus {
        background-color: #fff;
    }

    &:focus {
        --border-color: #{color(secondary)};

        outline: 2px solid var(--border-color);

        box-shadow: 0 0 15px rgba(color(), .4);
    }

    &::placeholder {
        color: dark(color(info), 20);
    }
}
