@charset "UTF-8";

//
// == rem prefix
// -----------------------------------------------------------------
// src https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss
// torem() in function

// 使用方法
// @include torem('padding', 0 32px);
//
@mixin torem($property, $values) {

    // If there is only one (numeric) value, return the property/value line for it.
    @if type-of($values) == "number" {
        #{$property}: px($values); // 可用無單位數字
        #{$property}: torem($values);
    }
    @else {
        // Create an empty list that we can dump values into
        $rem-values: ();
        $px-values: (); // 可用無單位數字

        @each $value in $values {
            // If the value is zero or not a number, return it
            @if $value == 0 or type-of( $value ) != "number" {
                $rem-values: append($rem-values, $value);
                $px-values: append($px-values, $value); // 可用無單位數字
            }
            @else {
                $rem-values: append($rem-values, torem($value));
                $px-values: append($px-values, px($value)); // 可用無單位數字
            }
        }
        // Return the property and its list of converted values
        #{$property}: $px-values; // 可用無單位數字
        #{$property}: $rem-values;
    }
}