@charset "UTF-8";

// == 每頁共用的樣式
// ------------------------------------------------------------

// == modal
.modal {
    // z-index: z(overlay);
    display: none;
    overflow: auto;
    padding-top: 12%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include mq-max(break(xs,-1)) {
        padding-top: 5%;
    }

    &-content {
        margin: auto;
        background-color: #fff;
        position: relative;
        width: 80%;
        max-width: 800px;

        @include animate(slide-down .4s) {
            from { top: -300px; opacity: 0; }
            to { top: 0; opacity: 1; }
        }

        @include mq-max(break(md,-1)) {
            width: 96%;
        }
    }
}

.btn-close {
    font-size: em(31);
    color: #fff;

    position: absolute;
    top: 1%;
    right: 1%;

    &:hover, &:focus {
        // color: $light-warning;
        cursor: pointer;
    }
}
