@charset "UTF-8";

// == common classes
// 如果超過4行css或想改參數時 建議改 @include
// ------------------------------------------------------------

// 隱藏文字
.text-hide { @include text-hide; }

// 隱藏文字-但閱讀器可以看
// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
// See: https://kittygiraudel.com/2016/10/13/css-hide-and-seek/
// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
.sr-only {
    &, &-focusable:not(:focus):not(:focus-within) {   // 焦點在時可以看
        @include static(sronly) {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}

// 浮動相關(對齊)
.clearfix      { @include clearfix; }        // 清除浮動: 後面元素不會跟著浮動+母元素會被撐開
.pull-left     { float: left; }              // 靠左浮動
.pull-right    { float: right; }             // 靠右浮動

.clear         { clear: both; }              // 清除浮動: 讓後面的元素不會跟著浮動
.rest          { overflow: hidden; }         // 讓浮動後置的元素可以對齊: col Ref: https://www.w3schools.com/w3css/w3css_grid.asp

// 元素類型
.inline        { display: inline; }          // 行列元素: 不能設寬度
.inline-block  { display: inline-block; }    // 區塊元素: 寬度隨內容變
.block         { display: block; }           // 區塊元素: 寬度預設100%
.flex          { display: flex; }            // 彈性元素: 寬度預設100%
.inline-flex   { display: inline-flex; }     // 彈性元素: 寬度隨內容變
.flex-middle   { align-items: center; }      // 彈性元素高度置中
.flex-center   { display: flex; justify-content: center; } // flex center

.img-center {                                // 圖片置中
    display: block;
    margin: auto;
    max-width: 100%;
}
.center {
    // 物件置中(擠乾版)
    @include static(mx-a) {
        margin-left: auto;
        margin-right: auto;
    }
}

.circle        { border-radius: 50%; }       // 圓形
.hidden        { display: none; }            // 隱藏元素
.disabled      { cursor: $cursor-disabled; } // 禁用符號

%full          { width: 100%; }
%max-full      { max-width: 100%; }
.full          { @extend %full; }            // 寬度100
.max-full      { @extend %max-full; }        // 寬度不超過100
.w-auto        { width: auto; }


// == vertical align
// 可以使用的元素：inline, inline-block, inline-table, and table cell elements.
// ------------------------------------------------------------
@each $valign in (top, middle, bottom) {
    .align-#{$valign} {
        vertical-align: $valign;
    }
}


// == text
// ------------------------------------------------------------
// .text-left, .text-right, .text-center
@each $align in (left, right, center) {
    .text-#{$align} {
        text-align: $align;
    }
}
@each $breakpoint, $value in $breakpoints {
    @include mq($value) {
        @each $align in (left, right, center) {
            .text-#{$breakpoint}-#{$align} {
                text-align: $align;
            }
        }
    }
}

// .text-nowrap   { white-space: nowrap; }
// .text-overflow { @include text-overflow(null); }

// .font-normal   { font-weight: 400; }
// .font-bold     { font-weight: 700; }
// .font-light    { font-weight: 300; }
// .font-norm     { font-style: normal; }
// .font-italic   { font-style: italic; }

%text-white    { color: #fff; }
%bg-white      { background: #fff; }
.text-white {
    @extend %text-white;
}
.hover-white {
    @extend %text-white;

    &:hover, &:focus {
        color: dark(#fff, 15);
    }
}
.bg-white {
    @extend %bg-white;
}


// == font size
// ------------------------------------------------------------
// src: w3.css v4
@each $property, $size in get(font) {
    .font-#{$property} { font-size: torem($size); }
}


// == spacers in variables.scss
// ------------------------------------------------------------
// src: https://gist.github.com/MatthewRDodds/8f171914ee6b826db29393f33229d509
// ex. mt-0, p-5
@each $size, $length in get(spacing) {
    .m-#{$size} { margin: torem($length); }
    .p-#{$size} { padding: torem($length); }

    @each $prefix, $property in (l: left, t: top, r: right, b: bottom, x: left, y: top) {
        .m#{$prefix}-#{$size} {
            margin-#{$property}: torem($length);

            @if $prefix == x { margin-right: torem($length); }
            @if $prefix == y { margin-bottom: torem($length); }
        }
        .p#{$prefix}-#{$size} {
            padding-#{$property}: torem($length);

            @if $prefix == x { padding-right: torem($length); }
            @if $prefix == y { padding-bottom: torem($length); }
        }
    }
}


// == list
// ------------------------------------------------------------
%list-unstyled {
    list-style: none;
    padding-left: 0;
}
%list-inline {
    > li {
        display: inline-block;
        &:not(:last-child) { margin-right: 8px; }
    }
}

.list-unstyled { @extend %list-unstyled; }
.list-inline   { @extend %list-unstyled, %list-inline; }


// == border
// ------------------------------------------------------------
.border {
    border: $border-width solid $border-color;

    &-double {
        border: $border-width*2 solid $border-color;
    }
    &-none {
        border-width: 0;
    }
}


// == misc 本專案新增
// ------------------------------------------------------------

