@charset "UTF-8";
@use 'sass:map';

// == config
// ----------------------------------------------------------------------
$colors: (
    primary:   #25BB8D,
    success:   #7BD160,
    info:      #007BA1,
    warning:   #C7EC99,
    danger:    #FF5F73,
    muted:     #aaa,
) !default;

$border-width:                1px !default;
$border-color:                #ddd !default;
$cursor-disabled:             not-allowed !default;
$transition-duration:         300ms !default; // effect times


// == base
// -----------------------------------------------------------------
// font
$font-family:                 system-ui, -apple-system, "微軟正黑體", "Microsoft JhengHei", '游明朝体', YuMincho, '游明朝', 'Yu Mincho', "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif !default;
$font-family-sp:              null !default;
$font-family-base:            $font-family-sp, $font-family !default;

$font-size-base:              16px !default;
$line-height-base:            1.2 !default;

// <body>
$body-bg:                     #fff !default;
$body-color:                  #000 !default;
$body-letter-spacing:         .03em !default;

// <h1>
$font-size-h1:                $font-size-base * 2.25 !default;   // 36px
$h1-margin:                   .67em 0 !default;

// <hr>
$hr-border:                   $border-width solid $border-color !default;
$hr-margin:                   1.25em 0 !default;

// <a>
$link-color:                  color() !default;
$link-decoration:             none !default;
$link-hover-color:            darken($link-color, 15) !default;
$link-hover-decoration:       false !default;
$link-transition:             color 350ms, background 300ms ease !default;

// <button>
$button-focus:                0 !default; // button:focus { outline: 0; }

// <table>
$table-color:                 false !default;
$table-bg:                    false !default;
$table-border-width:          $border-width !default;
$table-border-style:          solid !default;
$table-border-color:          $border-color !default;
$table-bordered:              $table-border-width $table-border-style $table-border-color !default;

$table-cell-text-align:       inherit !default;
$table-cell-vertical-align:   inherit !default;
$table-cell-border-width:     0 0 $table-border-width !default;
$table-cell-padding:          .35em .3em !default;

// 滑鼠移過變色
$table-hover-color:           #fffFD7 !default;

// 斑馬紋條列式表格
$table-striped-color:         #f8f9fa !default; // #f9f9f9
$table-bg-active:             false !default;
$table-striped-list:          'even' !default;   // even, odd

// <form>
$component-active:            color() !default;
$input-name:                  '.form-element' !default;

// 尺寸
$input-border-width:          $border-width !default;
$input-height:                28px !default; // if($input-border-width, $input-btn-height - ($input-border-width * 2), $input-btn-height)
$input-font-size:             15px !default;
$input-line-height:           $line-height-base !default;
$input-space:                 $input-height*.25 !default; // => padding-x

$input-bg:                    #fff !default;
$input-color:                 $body-color !default;
$input-border-color:          $border-color !default;
$input-border:                $input-border-width solid $input-border-color !default;
$input-radius:                .25em !default;
$input-transition:            border-color ease-in-out $transition-duration, box-shadow ease-in-out $transition-duration !default;

$shadow:                      inset 0 1px 1px rgba(#000,.075) !default;
$ring-offset-width:           .2rem !default; // 0px;
$ring-color:                  rgba($component-active, .3) !default; // #1c64f2;

$input-disabled-bg:           color(muted) !default;
$input-placeholder-color:     lighten($input-color, 40) !default;

// <select>
$select-caret:                "<svg fill='#{$input-placeholder-color}' viewBox='-96 0 512 512' xmlns='http://www.w3.org/2000/svg'><path d='M160 96L256 208 64 208 160 96ZM64 304L256 304 160 416 64 304Z'/></svg>" !default;
$select-seat-size:            right center / 16px 10px !default;

// <label>
$label-my:                    pdy($input-height, $input-line-height) !default;


// == util
// -----------------------------------------------------------------
$spacer: $font-size-base !default;  // 16px

$config: () !default;
$config: map.deep-merge(
    (
        'spacing': (
            '0':   0,
            's':   $spacer*.5,     // 8px
            'm':   $spacer,        // 16px
            'l':   $spacer*1.5,    // 24px
            '2':   $spacer*.125,   // 2px
            '5':   $spacer*.3125,  // 5px
            '10':  $spacer*.625,   // 10px
        ),
        'font': (
            'tiny':   12px,
            'sm':     14px,
            'md':     15px,
            'lg':     17px,
            'xl':     24px,
            'xxl':    32px,
        )
    ),
    $config,
);


// == RWD break
// -----------------------------------------------------------------
$gutter:   16px !default;

$mobile:   375px !default;  // 380px,
$phone:    568px !default;  // 480px,
$tablet:   768px !default;  // 768px,
$desktop:  1024px !default; // 980px,
$wide:     1200px !default;
$wider:    1400px !default;

$breakpoints: (
    xs:    $phone,
    sm:    $tablet,
    md:    $desktop,
    lg:    $wide
) !default;

