@charset "UTF-8";

//
// button, hover
// ----------------------------------------------

// # button

input.btn {
    border: none;
}

.btn {
    // default
    @include btn(false) {
        --bg: #9E9E9E;
        opacity: .65;
    }

    color: var(--color, #fff);

    background-color: var(--bg, #{color(info)});
    outline: 1px solid rgba(#fff, 0.25);
    outline-offset: -12px;
    padding: var(--padding, 24px 16px);
    transition: 0.2s, outline-offset 0.3s ease;

    &:hover {
        --bg: #{color(warning)};
        --color: #{color(secondary)};

        box-shadow: 0 0 8px rgba(#000, 0.3);
        outline-offset: 10px;
        outline-width: 2px;
    }

    @if not $index {
        &.reverse {
            --bg: #fff;
            --color: #{color(secondary)};

            outline-color: $border-color;

            &:hover {
                --bg: #{color(danger)};
                --color: #fff;

                outline-color: rgba(#fff, 0.3);
            }
        }
    }
}

