@charset "UTF-8";

//       layout
// -----------------------------------------------------------------------

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
}

#wrapper {
    min-height: 100%;
    margin-bottom: if($index, -115px, -160px);

    @include mq(xs) {
        margin-bottom: -$footer-height;
    }

    @if not $index {
        background: url('#{$img-path}/mainbg.jpg') no-repeat center bottom -50px;
        padding-bottom: 160px;

        @include mq(xs) {
            background-position: center bottom;
            padding-bottom: $footer-height;
        }
    }
}

.container {
    margin-inline: auto; // 橫式文字是左右

    @each $bk, $max-width in (
        640px: 600px,
        sm:    680px,
        md:    920px,
        lg:    1180px,
        $wide: 1400px
    ) {
        @include mq($bk) {
            max-width: $max-width;

            @if $bk ==  'lg' {
                &.is-small {
                    max-width: 996px;
                }
            }
        }
    }
    @include mq-max(639) {
        padding-inline: $gutter;
    }
}


//       header
// -----------------------------------------------------------------------

#header {
    z-index: z(header);

    @if $index {
        position: absolute;
        width: 100%;
    } @else {
        &:not(.js-fixed) {
            border-bottom: 1px solid #eee;
            margin-bottom: get('spacing.3');
        }
    }

    &.js-fixed {
        @if not $index {
            width: 100%;
        }

        background-color: rgba(#fff, 0.7);
        box-shadow: 0 3px 6px rgba(#000, 0.02);
        backdrop-filter: blur(8px);

        position: fixed;
        opacity: 0;
        top: -50px;

        @include animate(sliedown 0.5s ease-in-out forwards) {
            to {
                top: 0;
                opacity: 1;
            }
        }
    }

    @include mq-max(xs) {
        .container {
            padding-right: 0;
        }
    }
}

// # logo
.logo {
    margin-top: 8px;

    .js-fixed & {
        margin-top: 4px;
    }
}

.logo-brand {
    background: url(#{$img-path}/logo2.png) no-repeat 0 0 / contain;
    display: block;
    aspect-ratio: 1.24 / 1;
    height: 41px;

    @include mq(xs) {
        aspect-ratio: 3.5 / 1;
        background-image: url(#{$img-path}/logo.png);
    }

    @include mq(retina2x) {
        background-image: url(#{$img-path}/logo@2x.png);
    }

    .js-fixed & {
        height: 36px;
    }
}

// # 主選單
.navbar {
    @if not $index {
        #header:not(.js-fixed) & {
            margin-bottom: -1px;
        }
    }

    @include mq(440) {
        float: right;
    }

    @include mq-max(xs) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        padding-right: 16px;
        white-space: nowrap;

        $shadow: $brand-color;

        // 陰影滾動effect - 透明背景不能用
        // --shadow-cover: 219, 234, 238; //light(color(info), 52)
        // background:
        //     // 1滾到底蓋掉
        //     linear-gradient(to right, rgb(var(--shadow-cover)), rgba(var(--shadow-cover), 0.2)) left center,
        //     linear-gradient(to right, rgba(var(--shadow-cover), 0.2), rgb(var(--shadow-cover))) right center,

        //     // 2影子
        //     radial-gradient(farthest-side at 0 50%, rgba($shadow, .25), rgba($shadow, 0)) left center,
        //     radial-gradient(farthest-side at 100% 50%, rgba($shadow, .25), rgba($shadow, 0)) right center;

        // background-repeat: no-repeat;
        // background-size: 40px 100%, 40px 100%, 10px 100%, 10px 100%;
        // background-attachment: local, local, scroll, scroll;

        // .js-fixed & {
        //     --shadow-cover: 255, 255, 255;
        // }

        // 在最右邊放影子
        background: radial-gradient(farthest-side at 100% 50%, rgba($shadow, .25), rgba($shadow, 0)) no-repeat right center/12px 100% scroll;

        &::-webkit-scrollbar {
            width: 8px;
            height: 5px;

            &-thumb {
                background: rgba(#000, 0.2);
                border-radius: 5px;
            }

            &-track {
                background-color: transparent;
            }
        }
    }
}

// 第1階選單
.nav-link {
    --color: #{$brand-color};
    letter-spacing: 0.1em;

    display: block;
    margin: 0 2px;
    padding: var(--nav-link-py, 20px) var(--nav-link-px, 14px) var(--nav-link-py, 10px);
    position: relative;

    .js-fixed & {
        --nav-link-py: 12px;
    }

    #header:not(.js-fixed) & {
        @if $index {
            border-radius: 0 0 6px 6px;
        } @else {
            padding-bottom: 12px;
        }
    }

    @if $index {
        &:hover, &:active,
        &.active {
            background: linear-gradient(light(color(info), 70), #fff 20% );

            .js-fixed & {
                background: light(color(warning), 70);
            }
        }
    } @else {
        &.active {
            border-bottom: 2px solid color(danger);
        }
    }

    @include mq(lg) {
        --nav-link-px: 17px;
    }
    @include mq($max-width) {
        --nav-link-px: 20px;
    }
}

.fb-link {
    color: $brand-color;
    margin-top: 14px;

    .svg-fb {
        width: 24px;
    }

    .js-fixed & {
        margin-top: 10px;
    }

    &:hover {
        color: color(danger);
    }
}


// 子選單bar
.subnav {
}

// 第2階選單(子選單)
.subnav-link {
    font-size: em(19);

    border-bottom: 1px solid dark(color(muted), 5);
    margin-bottom: 10px;
    padding-bottom: 10px;

    transition: 0.2s ease-in;

    &:hover {
        text-indent: 0.5em;
    }

    &.active {
        --color: #{ color(info) };
    }

    // @include mq-max($mobile-bk) {
    //     margin: 0 auto;
    //     width: intrinsic;           // Safari/WebKit uses a non-standard name
    //     width: -moz-max-content;    // Firefox/Gecko
    //     width: -webkit-max-content;
    // }
}

.subnav_icon {
    height: 35px;
}

.subnav_columns {
    @include mq(xs) {
        columns: 2;
    }
    @include mq(sm) {
        columns: 3;
    }
}


//       footer
// -----------------------------------------------------------------------
#footer {
    min-height: $footer-height;

    @if not $index {
        padding-top: 20px;
    }

    @include mq-max(xs) {
        text-align: center;
    }
}

.copyright {
}

.foot-logo {
    --bgseat: center 0 / auto 50px;

    background: url('#{$img-path}/foot-logo@2x.png') no-repeat var(--bgseat);
    color: #91917d;
    padding: 56px 0 9px;

    @include mq(xs) {
        --bgseat: 0 center / 36px auto;
        padding-top: 22px;
        padding-left: (36px + 10);
    }

    @include mq-max(xs) {
        display: inline-block;
    }
}

.footnav {
}
.footnav-link {
    letter-spacing: 1px;

    &:not(:last-child) {
        margin-right: 6px;
        padding-right: 12px;
        border-right: 1px solid #fff;
    }
}