@charset "UTF-8";

// == theme
// <nav class="menu">
//   <div class="has-sub">
//     <a class="navlink">link</a>
//     <nav class="submenu">
//       <a class="sublink">sublink</a>
//     </nav>
//   </div>
//   <a class="navlink">link2</a>


// ----------------------------------------------------------

// == 主選單
#menu {
    @include mq($mobile-bk + 1) {
        text-align: center;
        margin-top: 43px;

        .has-sub, > .navlink {
            width: 12%;
        }
    }

    // 手機選單樣式
    @include mq-max($mobile-bk) {
        // comm
        position: fixed;
        top: 0;
        overflow-y: auto;
        z-index: 99;

        // theme
        background: #3F3F3F;
        width: $mobile-mw;
        height: 100%;

        // effect
        left: -$mobile-mw;
        transition: left 350ms ease;

        &.open {
            left: 0;
        }
    }
}
body {
    transition: left 350ms;
    position: relative;
    left: 0;
}
.push {
    left: $mobile-mw;
    overflow: hidden;
}

#menu .has-sub, .navlink {
    @include mq($mobile-bk + 1) {
        display: inline-block;
        vertical-align: top;
    }
}

.navlink {
    padding: 10px 16px;

    color: #fff;
    font-size: em(19);

    @include mq($mobile-bk + 1) {
        letter-spacing: 1px;

        padding: 18px 0 4px;
        height: 50px;

        &:hover, &:active, &.active {
            background: color(secondary);
            color: $light-warning;
            box-shadow: inset 1px 1px 1px rgba(#000,.15);
        }
    }

    // 手機版樣式
    @include mq-max($mobile-bk) {
        display: block;
        border-bottom: 1px solid light(#3F3F3F, 5);

        font-size: em(18);

        &:hover, &:active, &.active {
            color: $light-warning;
            background: color(secondary);
        }
    }
}

// 下拉子選單
.has-sub {
    position: relative;
    z-index: 1;

    .navlink {
        width: 100%;

        // 有下拉子選單的選單樣式
        @include el(before) {
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: #fff;
            transition: 400ms 50ms;

            position: absolute;
            top: 50%;
            right: 15px;

            @include mq-max($mobile-bk) {
                top: 16px;
            }
        }
    }

    &:hover, &:active {
        .navlink:after {
            border-color: rgba(#fff, .5);
        }
    }
}

.submenu {
    // theme
    display: block;
    transition: 300ms;

    width: 100%;

    @include mq($mobile-bk + 1) {
        background: #fff;
        box-shadow: 0px 8px 16px rgba(0,0,0,.2);

        position: absolute;
        top: 80%;
        opacity: 0;
        visibility: hidden;

        .has-sub:hover &, .has-sub:active & {
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
    }

    @include mq-max($mobile-bk) {
        display: none;
        background: dark(#3F3F3F, 30);

        .navlink.current ~ & {
            display: block;
        }
    }
}

.sublink {
    display: block;
    padding: 9px 0;
    font-size: em(17);
    color: #555;

    &:hover, &:active {
        background: light($light-warning, 8);
    }

    @include mq-max($mobile-bk) {
        padding: 12px 16px;
        color: #fff;

        &:hover, &:active {
            color: #fff;
            background: dark(color(), 20);
        }
    }
}


// 手機選單展開收合鈕
.mobile-trigger {
    display: none;

    cursor: pointer;
    transition: 600ms;
    z-index: $mobile-zindex + 1;

    // theme
    padding: 0;
    position: absolute;
    top: 4%;

    .lnr {
        color: color(secondary);
        font-size: em(32);
        vertical-align: middle;
    }

    @include mq-max($mobile-bk) {
        display: block;
    }
}