@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Zen+Maru+Gothic&display=swap');

// == config
// -----------------------------------------------------------------
$index:                    false !default; // 判斷是否為前台 預設:page(true)
$img-path:                 '../images' !default;

$colors: (
    primary:               #137687,  // 深藍綠
    secondary:             #0b434c,  // 淺藍綠 更淺#297f80
    info:                  #7eccd4,  // logo藍
    success:               #55b4c3,  // logo綠
    warning:               #f1d097,  // logo黃 字色#eaa639
    danger:                #f481ad,
    muted:                 #f8f9fa   // 更深灰 #f2f3f4
);

$border-color:             #eee; //#ebebd8;
$sand:                     #d1d1b4;

$brand-color:              #29335c;


// == base
// -----------------------------------------------------------------
// font
// $font-family-sp:            "Roboto" !default;

// <body>
$body-bg:                   #fff; //linear-gradient(180deg, #EDEDED 5%, #fff) !default;
$body-color:                #1a1a1a !default;

// <hr>
$hr-border-color:           dark(color(muted), 2) !default;

// <a>
$link-color:                color(secondary) !default;
$link-hover-color:          darken(color(danger), 15) !default; //color(info)

// <table>
$table-border-color:        rgba(#000, .1);
$cell-text-align:           false;
$cell-padding:              15px 2px;
$table-hover-color:         light(color(success), 70);
$table-striped-color:       light(color(muted), 80); // #f9f9f9

// <form>
$input-placeholder-color:   #2d8d8f;


// == util
// -----------------------------------------------------------------
$config:(
    'spacing': (
        '0\\.5':            2px,    // $spacer * 0.125,
        '2\\.5':            10px,   // $spacer * 0.625,
        '16':               64px,   // $spacer * 4,
        '24':               96px,   // $spacer * 6,
        '32':               128px,  // $spacer * 8,
    ),
    'font': (
        '3xl':              if($index, 28px, 30px),
        '4xl':              if($index, 32px, 36px),
        '5xl':              48px,
        '6xl':              if($index, 54px, 60px),
        // '7xl':              72px,
    ),
    'utils': (
        'weight': (
            // 'extralight':   200,
            // 'light':        300,
            // 'medium':       500,
            // 'semibold':     600,
            // 'extrabold':    800,
            // 'black':        900,
        ),
        'leading': (        // => .leading-loose
            'loose':        2,
            'relaxed':      1.625,
        ),
        'tracking': (       // => .tracking-wide
            'wide':         0.025em,
            'wider':        0.05em,
            'widest':       0.1em
        ),
    ),
);

$root: (
    gradient: linear-gradient(to right, color(danger), color(warning), color(info)),
);


// == layout
// -----------------------------------------------------------------
$max-width:                 1400px !default;

$footer-height:             if($index, 100px, 160px) !default;

$mobile-bk:                 md !default;
$mobile-zindex:             99 !default;


// z-index
$zindex: (
    'sticky-top',
    'sidenavbar',
    'header',
    'gotop'
);

