@charset "UTF-8";

// == flex
// -----------------------------------------------------------------
// These are the two mixins that do the work:
// flex: <positive-number>, initial, auto, or none
// flex-direction: row | row-reverse | column | column-reverse
// flex-wrap: nowrap | wrap | wrap-reverse
@mixin flex($wrap: nowrap, $direction: false, $flexible: false) {
    display: flex;
    @if $wrap      { flex-wrap: $wrap; }
    @if $direction { flex-direction: $direction; }
    @if $flexible  { flex: $flexible; }
}

// @mixin flex-grid($margin: 0 auto, $max-row-width: 100%) {
//     @if $margin        { margin: $margin; }
//     @if $max-row-width { max-width: $max-row-width; }
//     @include flex(wrap);
// }

// flex-center
// justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit; => 水平對齊 = text-align: center;
// align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit; => 垂直對齊 = vertical-align: center;
@mixin flex-center($justify-content: center, $align-items: center) {
    display: flex;
    @if $justify-content { justify-content: $justify-content; }
    @if $align-items { align-items: $align-items; }
}