@charset "UTF-8";

//
// == dropdown
// ------------------------------------------------------------
.dropdown {
    position: relative;

    &-content {
        @extend %bg-white, .text-left;

        position: absolute;
        top: 110%;

        box-shadow: 1px 3px 10px rgba(#000, .2);
        z-index: 1;

        visibility: hidden;
        opacity: 0;
        transition: .2s, opacity .2s ease-in-out;

        &.in {
            visibility: visible;
            opacity: 1;
            transition: opacity .2s ease;
        }

        a {
            @extend .p-10;

            display: block;
            color: #3C4B54;

            &:hover, &.active {
                background: light(color(secondary), 85);
            }
        }

        // 右上方資訊選單(回首頁,登出等)
        .navbar & {
            @extend .font-md;

            min-width: 160px;
            right: 0;
            top: 100%;

            &.in {
                top: 170%;
            }
        }
    }

    // arrow
    i {
        position: relative;
    }
    &-toggle.active i {
        transform: rotate(-135deg);
        top: 0;
    }
}