@charset "UTF-8";

//       layout
// -----------------------------------------------------------------------
body {
    padding: $header-height 16px 32px ($sidebar-width+16px);

    @media only screen and (min-device-width: $min-width) {
        min-width: $min-width;
    }
}

.container {
    @include clearfix;

    margin-inline: auto;

    &.smaller {
        max-width: 640px;
    }
}

// header
// ----------------------------------------------------------------------
#header {
    height: $header-height;
    width: 100%;
    z-index: z(header);

    position: fixed;
    top: 0;
    left: 0;
}

.heading {
    color: #fff;
    font-size: em(27);
    letter-spacing: .08em;
}

// 右上方資訊選單(回首頁,登出等)
.navbar {
    // display: flex;
    // height: inherit;
}

.dropdown {
}

.dropdown-toggle.active {
    i::before {
        content: '\e931';
    }
}

.dropdown-content {
    text-align: left;

    background: #fff;
    box-shadow: 1px 3px 10px rgba(#000, .2);
    top: 100%;
    min-width: 180px;
    z-index: 1;

    // effect
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s, opacity .2s ease-in-out;

    &.in {
        // display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease;

        .navbar & {
            top: 37px;
        }
    }
}

.navbar-link {
    color: #fff;
    font-size: em(15);
    // padding: pdy($header-height, 15) 16px;
    transition: .2s;

    &:hover, &.active {
        color: dark(#fff, 10);
    }
}

.subnav-link {
    --color: #3C4B54;
    display: block;
    padding: 12px 15px;

    &:hover, &.active {
        background-color: color(warning);
    }
}


// sidebar
// ----------------------------------------------------------------------
#sidebar {
    // # initial
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: z(sidebar);

    width: $sidebar-width;
    background: $sidebar-bg;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .05);
}

// 第一層
.menu-link {
    display: block;
    position: relative;
    padding: 10px $sidenav-pdx 10px ($sidenav-pdx + $sidenav-icon + 8);
    transition: .3s ease;

    color: $sidenav-color;
    font-size: torem(17);
    line-height: 1.36;

    &::before {
        color: $sidenav-icon-color;

        position: absolute;
        left: 12px;
        top: 12px;
        width: $sidenav-icon;
    }

    &:hover {
        background-color: light(color(warning), 80);
    }
    &.active {
        background-color: light(color(info), 50);
        color: #000;

        &::before {
            color: #fff;
        }
    }
}

// # 選單摺疊效果
// 展開鈕
.collapse-toggle {
    cursor: pointer;
    margin: 0;
    position: relative;

    font-weight: normal;

    // 箭頭
    .arrow {
        display: inline-block;
        border: solid rgba(#000, 0.1);
        border-width: 0 2px 2px 0;
        padding: 4px;
        transform: rotate(45deg);
        transition: .35s ease;

        position: absolute;
        top: 15px;
        right: 8px;
        // border-color: $sidenav-icon-color;
    }

    &.active {
        .arrow {
            transform: rotate(-135deg);
            top: 18px;
        }
    }
}

.collapse {
    display: none;

    &.in {
        display: block;

        @include animate(collapse 0.5s forwards) {
            from {
                opacity: 0;
                max-height: 0;
            }
            to {
                opacity: 1;
                max-height: 100%;
            }
        }
    }
}

// 子選單
.submenu {
    margin-right: 10px;
}

.submenu_link {
    border-radius: 0 28px 28px 0;
    color: $sidenav-color;

    display: block;
    margin-top: 1px;
    padding: 8px $sidenav-pdx 8px ($sidenav-icon + $sidenav-pdx + 8);

    &:hover, &:active {
        background: light(color(warning), 40);
    }
    &.active {
        background: dark(color(muted), 5);
    }
}

