@charset "UTF-8";

$modal-gap: 20px;

// == modal
// <div id="uploadFile" class="modal">
//   <form class="modal-container animate-top">
//     <header class="modal-header">
//       <button type="button" class="modal-close" data-close="modal">&times;</button>
//     </header>
//     <footer class="modal-footer">
//       <button type="button" data-close="modal">回列表</button>
//     </footer>
//   </form>
// </div>

// == modal
.modal {
    z-index: z(overlay);

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    padding-block: 5%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include mq(xs) {
        padding-block: 62px;
    }

    // fade effect
    transition: visibility 0s .2s, opacity .2s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.in {
        transition: opacity .2s ease-in-out;
        visibility: visible;
        opacity: 1;

        .modal-container {
            @include animate(slide-down .4s) {
                from {
                    top: -300px;
                    opacity: 0;
                }
                to {
                    top: 0;
                    opacity: 1;
                }
            }
        }
    }

}

.modal-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, .1);
    height: 100%;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 0 $modal-gap $modal-gap;
    position: relative;

    overflow: auto;
    -webkit-overflow-scrolling: touch;  // for safari bug

    @include mq-max(md) {
        width: 96%;
    }
}

.modal-header {
    background: color();
    color: #fff;
    font-size: get('font.2xl');

    margin: 0 (-$modal-gap) get('spacing.5');
    padding: 13px 40px 13px 20px;
    position: relative;
}

.modal-footer {
    border-top: 1px solid $border-color;
    background: light(color(muted), 20);
    text-align: center;
    margin: get('spacing.5') (-$modal-gap) (-$modal-gap);
    padding: 15px;

    .btn {
        margin-left: get('spacing.1');
        margin-right: get('spacing.1');
    }
}

.modal-close {
    color: currentColor;
    font-size: em(31);
    line-height: 1;

    position: absolute;
    top: 0;
    right: get('spacing.2');
    transition: 350ms;

    &:hover, &:focus {
        color: color(info);
        cursor: pointer;
    }
}
