@charset "UTF-8";

//
// == 情境 Contextual colors
// ------------------------------------------------------------

.text {
    @each $state, $value in (
        primary:        color(),
        secondary:      color(secondary),
        info:           color(info),
        success:        color(success),
        warning:        a11y(color(warning), $body-bg),
        danger:         color(danger),
        muted:          color(muted),
    ) {
        &-#{$state} {
            color: var(--color, #{$value});
        }
    }
}

.bg {
    @each $state, $value in (
        primary:        color(),
        secondary:      color(secondary),
        info:           color(info),
        success:        color(success),
        warning:        color(warning),
        muted:          color(muted),
    ) {
        &-#{$state} {
            background-color: var(--bg, #{$value});
        }
    }
}

.hover\:text {
    @include modifiers(
        (
            'primary:hover':        dark(color(), 15),
            'info:hover':           dark(color(info), 15),
            'warning:hover':        a11y(dark(color(warning), 15), #fff),
            'danger:hover':         dark(color(danger), 15),
        ),
        '--color'
    );
}

.border {
    @each $key, $value in (
        'muted':       dark(color(muted), 4),
    ) {
        &-#{$key} {
            --border-color: #{ $value };
            // border-color: var(--border-color);
            // border-color: $value;
        }
    }
}


//
// == label, panel
// ------------------------------------------------------------
// label
em[class*='label'] {
    font-style: normal;
}

[class*='label-'] {
    //font-size: get('font.sm');

    border-radius: 3px;
    display: inline-block;
    padding: .1em .3em;
    vertical-align: middle; // text-bottom;

    &:not(:only-of-type) {
        margin: .2em;
    }
}

// label + panel theme
.label, .panel {
    @each $theme, $color in (
        success:  light(color(success), 50),
        info:     light(color(info), 16),
        warning:  light(color(warning), 74),
        danger:   light(color(danger), 68),
    ) {
        &-#{$theme} {
            background: $color;
            border: 1px solid dark($color, 7.5);
            color: a11y($color, $color);
        }
    }
}

.label-muted {
    $color: light(color(muted), 45);

    background: $color;
    border: 1px solid dark($color, 7.5);
    color: dark($color, 50);
}
