@charset "UTF-8";

//
// == common classes
// 如果超過4行css或想改參數時 建議改 @include
// ------------------------------------------------------------

// 隱藏文字
.text-hide { @include text-hide; }

// 浮動相關(對齊)
.clearfix      { @include clearfix; }        // 清除浮動: 後面元素不會跟著浮動+母元素會被撐開
.pull-left     { float: left; }              // 靠左浮動
.pull-right    { float: right; }             // 靠右浮動

.clear         { clear: both; }              // 清除浮動: 讓後面的元素不會跟著浮動
.rest          { overflow: hidden; }         // 讓浮動後置的元素可以對齊: col Ref: https://www.w3schools.com/w3css/w3css_grid.asp

// 元素類型
.inline        { display: inline; }          // 行列元素: 不能設寬度
.inline-block  { display: inline-block; }    // 區塊元素: 寬度隨內容變
.block         { display: block; }           // 區塊元素: 寬度預設100%
.flex          { display: flex; }            // 彈性元素: 寬度預設100%
.inline-flex   { display: inline-flex; }     // 彈性元素: 寬度隨內容變
.flex-center   { align-items: center; }      // 彈性元素高度置中

.img-center {                                // 圖片置中
    display: block;
    margin: auto;
    max-width: 100%;
}
.center {
    // 物件置中(擠乾版)
    @include static(mx-a) {
        margin-left: auto;
        margin-right: auto;
    }
}

.circle        { border-radius: 50%; }       // 圓形
.hidden        { display: none; }            // 隱藏元素
.disabled      { cursor: $cursor-disabled; } // 禁用符號

%full          { width: 100%; }
%max-full      { max-width: 100%; }
.full          { @extend %full; }            // 寬度100
.max-full      { @extend %max-full; }        // 寬度不超過100
.w-auto        { width: auto; }


//
// == vertical align
// 可以使用的元素：inline, inline-block, inline-table, and table cell elements.
// ------------------------------------------------------------
@each $valign in (top, middle, bottom) {
    .align-#{$valign} {
        vertical-align: $valign;
    }
}


//
// == text
// ------------------------------------------------------------
// .text-left, .text-right, .text-center
@each $align in (left, right, center) {
    .text-#{$align} {
        text-align: $align;
    }
}
@each $breakpoint, $value in $breakpoints {
    @include mq($value) {
        @each $align in (left, right, center) {
            .text-#{$breakpoint}-#{$align} {
                text-align: $align;
            }
        }
    }
}

%text-white    { color: #fff; }
%bg-white      { background: #fff; }
.text-white {
    @extend %text-white;
}
.bg-white {
    @extend %bg-white;
}


//
// == font size
// ------------------------------------------------------------
// src: w3.css v4
@each $property, $val in get(font) {
    .font-#{$property} { font-size: rem($val); }
}


//
// == spacers in variables.scss
// ------------------------------------------------------------
// src: https://gist.github.com/MatthewRDodds/8f171914ee6b826db29393f33229d509
// ex. mt-0, p-5
@each $size, $length in $spacers {
    .m-#{$size} { margin: rem($length); }
    .p-#{$size} { padding: rem($length); }

    @each $key, $val in (l: left, t: top, r: right, b: bottom, x: left, y: top) {
        .m#{$key}-#{$size} {
            margin-#{$val}: rem($length);

            @if $key == x { margin-right: rem($length); }
            @if $key == y { margin-bottom: rem($length); }
        }
        .p#{$key}-#{$size} {
            padding-#{$val}: rem($length);

            @if $key == x { padding-right: rem($length); }
            @if $key == y { padding-bottom: rem($length); }
        }
    }
}


//
// == list
// ------------------------------------------------------------
%list-unstyled {
    list-style: none;
    padding-left: 0;
}
%list-inline {
    > li {
        display: inline-block;
        &:not(:last-child) { margin-right: 8px; }
    }
}

.list-unstyled { @extend %list-unstyled; }
.list-inline   { @extend %list-unstyled, %list-inline; }


//
// == border
// ------------------------------------------------------------
// .underline {
//     border-bottom: $border-width solid $border-color;
// }

.border {
    border: $border-width solid $border-color;

    &-double {
        border: $border-width*2 solid $border-color;
    }
    &-none {
        border-width: 0;
    }
}


//
// == misc 本專案新增
// ------------------------------------------------------------

